
        <div id="shopify-section-footer-model-6" class="shopify-section">
            <div data-section-id="footer-model-6" data-section-type="Footer-model-6" class="footer-model-6">
                <footer class="site-footer" style="background:#171717;">
                    <div class="grid-uniform">
                        <div class="footer-newsletter-section" style="border-bottom:1px solid #2f2e2e;">
                            <div class="container">
                                <div class="grid__item">
                                    <div class="footer-logo">

                                        <a href="/">
                                            <img class="normal-footer-logo" src="/static/images/footer-logo.png" alt="Shoes" />
                                        </a>

                                    </div>

                                    <div class="footer_newsletter">

                                        <form method="post" action="#" id="contact_form" accept-charset="UTF-8" class="contact-form">
                                            <input type="hidden" name="form_type" value="customer" />
                                            <input type="hidden" name="utf8" value="✓" />

                                            <div class="input-group" style="background:rgba(0,0,0,0);">
                                                <input style="color:#5c5c5c;" type="email" value="" placeholder="Email address" name="contact[email]" class="mail" aria-label="Email address">
                                                <input type="hidden" name="contact[tags]" value="newsletter">
                                                <button style="background:#000;color:#fff;" type="submit" class="btn subscribe" name="subscribe" value=""><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                            </div>

                                        </form>

                                    </div>

                                    <div class="footer_social_links">
                                        <ul class="inline-list social-icons social-links-type-1">

                                            <li>
                                                <a style="color:#ffffff;" class="icon-fallback-text twitt hexagon" target="blank" href="https://twitter.com/sneakercity" onmouseover="this.style.color='#FF0000';" onmouseout="this.style.color='#ffffff';" title="Twitter">
                                                    <span class="fa fa-twitter" aria-hidden="true"></span>
                                                </a>
                                            </li>

                                            <li>
                                                <a style="color:#ffffff;" class="icon-fallback-text fb hexagon" target="blank" href="https://www.facebook.com/sneakercity" onmouseover="this.style.color='#FF0000';" onmouseout="this.style.color='#ffffff';" title="Facebook">
                                                    <span class="fa fa-facebook" aria-hidden="true"></span>
                                                    <span class="fallback-text">Facebook</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a style="color:#ffffff;" class="icon-fallback-text google hexagon" target="blank" href="#" onmouseover="this.style.color='#FF0000';" onmouseout="this.style.color='#ffffff';" title="Google+" rel="publisher">
                                                    <span class="fa fa-google" aria-hidden="true"></span>
                                                    <span class="fallback-text">Google</span>
                                                </a>
                                            </li>


                                        </ul>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="grid-uniform">
                            <div class="container">

                                <div class="grid__item wide--one-quarter post-large--one-quarter large--one-quarter medium--one-half">

                                    <h4 style="color:#ffffff;">Contact us</h4>

                                    <div class="address">

                                        <p style="color:#5c5c5c;"> KN 4 Ave Kigali/ Rwanda, No12 Plot No 790</p>

                                        <p style="color:#5c5c5c;"> <i class="fa fa-phone"></i>+250 783 301 12</p>

                                    </div>

                                    <a style="color:#5c5c5c;" href="mailto:info@sneakercity.com"><i class="zmdi zmdi-caret-right-circle"></i>info@sneakercity.com</a>

                                </div>

                                <div class="grid__item wide--one-quarter post-large--one-quarter large--one-quarter medium--one-half">

                                    <h4 style="color:#ffffff;">Home</h4>

                                    <ul class="site-footer__links">

                                        <li><a style="color:#5c5c5c;" href="#">Search Terms</a></li>

                                        <li><a style="color:#5c5c5c;" href="#">Advanced Search</a></li>

                                        <li><a style="color:#5c5c5c;" href="#">Orders and Returns</a></li>

                                        <li><a style="color:#5c5c5c;" href="#">Consultant</a></li>

                                    </ul>
                                </div>

                                <div class="grid__item wide--one-quarter post-large--one-quarter large--one-quarter medium--one-half">

                                    <h4 style="color:#ffffff;"> Collection</h4>

                                    <ul class="site-footer__links">

                                        <li><a style="color:#5c5c5c;" href="#">Search Terms</a></li>

                                        <li><a style="color:#5c5c5c;" href="#">Advanced Search</a></li>

                                        <li><a style="color:#5c5c5c;" href="#">Orders and Returns</a></li>

                                        <li><a style="color:#5c5c5c;" href="#">Consultant</a></li>

                                    </ul>
                                </div>

                                <div class="grid__item wide--one-quarter post-large--one-quarter large--one-quarter medium--one-half">

                                    <h4 style="color:#ffffff;">Climbing</h4>

                                    <ul class="site-footer__links">

                                        <li><a style="color:#5c5c5c;" href="#">Search Terms</a></li>

                                        <li><a style="color:#5c5c5c;" href="#">Advanced Search</a></li>

                                        <li><a style="color:#5c5c5c;" href="#">Orders and Returns</a></li>

                                        <li><a style="color:#5c5c5c;" href="#">Consultant</a></li>

                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="footer-bottom">

                            <div class="grid__item footer-bottom__menu" style="background:#1a1a1a;">
                                <ul>

                                    <li>
                                        <a style="color:#5c5c5c;border-right:1px solid #5c5c5c;" href="#">Search Terms</a>
                                    </li>

                                    <li>
                                        <a style="color:#5c5c5c;border-right:1px solid #5c5c5c;" href="#">Advanced Search</a>
                                    </li>

                                    <li>
                                        <a style="color:#5c5c5c;border-right:1px solid #5c5c5c;" href="#">Orders and Returns</a>
                                    </li>

                                    <li>
                                        <a style="color:#5c5c5c;border-right:1px solid #5c5c5c;" href="#">Consultant</a>
                                    </li>

                                </ul>
                            </div>

                        </div>
                    </div>
                </footer>


                <div class="grid__item">
                    <div class="copyright" style="background:#FF0000">
                        <div class="container">

                            <p class="copyright_left" style="color:#ffffff">Copyright &copy; 2020, SneakerCity

                                <a target="_blank" rel="nofollow" href="https://www.linkedin.com/in/abraham-ahishakiye-911176a4/">Powered by Abraham Ahishakiye</a>

                            </p>

                            <div class="payment_section right">
                                <div class="footer-icons">
                                    <ul class="inline-list payment-icons">

                                        <li>
                                            <a href="/users/cart"><img src="/static/images/payment_icon_3_small_1_small_c1ca3553-ad7e-44e6-a160-d9b1630c963b_small1b2b.png" alt="payment_icon_2" /></a>
                                        </li>
                                        <li>
                                            <a href="/users/cart"><img src="/static/images/payment_icon_4_small_small_38f1cf55-e591-4a20-ba86-ab5904d53684_small690c.png" alt="payment_icon_3" /></a>
                                        </li>
                                    

                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>



    <script src="/static/javascripts/timber.js" type="text/javascript"></script>
    <script src="/static/javascripts/jquery.inview.js" type="text/javascript"></script>
    <script src="/static/javascripts/jquery-easing.js" type="text/javascript"></script>
    <script src="/static/javascripts/theme.js" type="text/javascript"></script>
    <script src="/static/javascripts/option_selection.js" type="text/javascript"></script>
    <script src="/static/javascripts/api.jquery.js" type="text/javascript"></script>
    <script src="/static/javascripts/jquery.history.js" type="text/javascript"></script>
    <script src="/static/javascripts/shop.js" type="text/javascript"></script>
    <script src="/static/javascripts/owl.carousel.min.js" type="text/javascript"></script>
    <script src="/static/javascripts/jquery-ui-totop.js" type="text/javascript"></script>
    <script src="/static/javascripts/jquery.tabs.min.js" type="text/javascript"></script>

    <script src="/static/javascripts/countdown.js" type="text/javascript"></script>
    <script src="/static/javascripts/jquery.elevatezoom.js" type="text/javascript"></script>
    <script src="/static/javascripts/jquery.fancybox.js" type="text/javascript"></script>
    
    <script src="/static/javascripts/currencies.js" type="text/javascript"></script>
    <script src="/static/javascripts/jquery.currencies.min.js" type="text/javascript"></script>

    <script src="/static/javascripts/jquery.validate.js" type="text/javascript"></script>
    <script src="/static/javascripts/additional-methods.js" type="text/javascript"></script>
    <script src="/static/javascripts/jquery.steps.js" type="text/javascript"></script>
    <script src="/static/javascripts/dobpicker.js" type="text/javascript"></script>
    <script src="/static/javascripts/jquery.pwstrength.js" type="text/javascript"></script>

    <script src="/static/javascripts/wow.js" type="text/javascript"></script>

    <script src="/static/javascripts/classie.js" type="text/javascript"></script>
    <script src="/static/javascripts/latest-products.js" type="text/javascript"></script>
    <script src="/static/javascripts/checkout.js"></script>
    <script src="/static/javascripts/cart.js"></script>

    <script src="/static/javascripts/uisearch.js"></script>

    
    
    <script>
        $('.qtyplus').click(function(e) {
            e.preventDefault();
            var currentVal = parseInt($('input[name="quantity"]').val());
            if (!isNaN(currentVal)) {
                $('input[name="quantity"]').val(currentVal + 1);
            } else {
                $('input[name="quantity"]').val(1);
            }

        });

        $(".qtyminus").click(function(e) {

            e.preventDefault();
            var currentVal = parseInt($('input[name="quantity"]').val());
            if (!isNaN(currentVal) && currentVal > 0) {
                $('input[name="quantity"]').val(currentVal - 1);
            } else {
                $('input[name="quantity"]').val(1);
            }

        });
    
    </script>
    
</body>

</html>