        <%- include layouts/header.ejs %>
        <main class="main-content">

            <div class="grid__item">

                <!-- BEGIN content_for_index -->
                <div id="shopify-section-1494494290289" class="shopify-section index-section">
                    <div data-section-id="1494494290289" data-section-type="grid-banner-type-1" class="grid-banner-type-1">

                        <div class="grid-uniform collectionItems">
                            <div class="grid__item wide--one-half post-large--one-half large--one-half medium-down--grid__item ">
                                <div id="carousel_banner">
                                    <div class="img-hover-effect">

                                        <img src="/static/images/Shoe_325d7.jpg" alt="SIGNS" />

                                        <div class="featured-content">

                                            <h4 style="color:#000;">SIGNS</h4>

                                            <h6 style="color:#000;">MAKE THIS SEASON<br> YOURS</h6>

                                        </div>
                                    </div>
                                    <div class="img-hover-effect">

                                        <img src="/static/images/Shoe_18482.jpg" alt="COSMOS STORE" />

                                        <div class="featured-content">

                                            <h4 style="color:#ffffff;">COSMOS STORE</h4>

                                            <h6 style="color:#ffffff;">SUMMER OFFER</h6>

                                        </div>
                                    </div>
                                    <div class="img-hover-effect">

                                        <img src="/static/images/Shoe_2bdf7.jpg" alt="SNEEK PEEK" />

                                        <div class="featured-content">

                                            <h4 style="color:#000;">SNEEK PEEK</h4>

                                            <h6 style="color:#000;">SPORTS EDITION* <br>
                                            *DISCOUNT AVAILABLE
                                            </h6>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="grid__item wide--one-half post-large--one-half large--one-half medium-down--grid__item">
                                <div class="grid_uniform">
                                    <div class="grid__item wide--one-half post-large--one-half large--one-half medium-down--grid__item small--grid__item full-width-grid-banner">
                                        <div class="img-hover-effect">
                                            <a class="banner_half_img" href="/">

                                                <img src="/static/images/collection3_741e8023-6b0e-49f4-a894-8aa7e4f6c8b7ad49.jpg" alt="Gym Sneakers" />

                                                <div class="featured-content">

                                                    <h4 style="color:#000">Gym Sneakers</h4>

                                                    <span class="text_count" style="color:#e4e4e4;">16</span>

                                                </div>
                                            </a>

                                        </div>
                                    </div>
                                    <div class="grid__item wide--one-half post-large--one-half large--one-half medium-down--grid__item small--grid__item full-width-grid-banner">

                                        <div class="img-hover-effect">
                                            <a class="banner_half_img" href="/">

                                                <img src="/static/images/collection5_47277ffa-efcf-413d-a764-b4b5be9e4e992ea8.jpg" alt="Hiking Boots" />

                                                <div class="featured-content">

                                                    <h4 style="color:#000;">Hiking Boots</h4>

                                                    <span class="text_count" style="color:#e4e4e4;">22</span>

                                                </div>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                                <div class="grid_uniform">
                                    <div class="grid__item wide--one-half post-large--one-half large--one-half medium-down--grid__item small--grid__item full-width-grid-banner">
                                        <div class="img-hover-effect">
                                            <a class="banner_half_img" href="/">

                                                <img src="/static/images/collection2_6fd1e403-7021-427d-8be1-8bf857c8aacff880.jpg" alt="Work Boots" />

                                                <div class="featured-content">

                                                    <h4 style="color:#000;">Work Boots</h4>

                                                    <span class="text_count" style="color:#e4e4e4;">33</span>

                                                </div>
                                            </a>

                                        </div>
                                    </div>
                                    <div class="grid__item wide--one-half post-large--one-half large--one-half medium-down--grid__item small--grid__item full-width-grid-banner">

                                        <div class="img-hover-effect">
                                            <a class="banner_half_img" href="/">

                                                <img src="/static/images/collection4_1d1d931a-3265-4eae-ac45-7e8a9cb3702eded2.jpg" alt="Chukkas" />

                                                <div class="featured-content">

                                                    <h4 style="color:#000;">Chukkas</h4>

                                                    <span class="text_count" style="color:#e4e4e4;">44</span>

                                                </div>
                                            </a>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dt-sc-hr-invisible-large"></div>

                </div>

                <div id="shopify-section-1492074040195" class="shopify-section index-section">
                    <div data-section-id="1492074040195" data-section-type="home-product-grid-type-1" class="home-product-grid-type-1">
                        <div class="full_width_tab load-wrapper">

                            <div class="section-header section-header--small">
                                <div class="border-title">

                                    <h2 class="section-header__title" style="color:#000;">    
                                        LATEST SNEAKERS
                                    </h2>

                                    <div class="short-desc">
                                        <p style="color:#000;">Just in now</p>
                                    </div>

                                </div>
                            </div>

                            <div class="nav_top_items">
                                <a class="prev active"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                                <a class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                            </div>
                            <ul class="grid-uniform loadItems">

                                <li class="grid__item item-row   " id="product-10386298510">
                                    <div class="products">
                                        <div class="product-container">

                                            <div class="deal-clock lof-clock-10386298510-detail">

                                                <!-- <div class="featured-tag">
                                                    <span class="badge badge--black">
                                                        <span class="gift-tag badge__text">Air Force 1</span>
                                                    </span>
                                                </div>
                                                <div class="featured-tag-right">
                                                    <span class="badge badge--grey">

                                                        <span class="gift-tag badge__text">12 - 08 - 2020</span>
                                                    </span>
                                                </div> -->
                                                <ul class='list-inline '>
                                                    <li class='day '>12 - 08 - 2020</li>
                                                </ul>
                                            </div>

                                            <a href="/users/sneaker" class="grid-link">
                                                <div class="featured-tag">
                                                    <span class="badge badge--red">
                                                        <span class="gift-tag badge__text">Adidas</span>
                                                    </span>
                                                </div>
                                                <div class="featured-tag-right">
                                                    <span class="badge badge--black">

                                                        <span class="gift-tag badge__text">20000RWF</span>
                                                    </span>
                                                </div>

                                                <div class="ImageOverlayCa"></div>

                                                <div class="reveal">
                                                    <span class="product-additional">      
                                                        <img class="" src="/static/images/shoe2054eb.jpg" alt="Bast shoe" />
                                                    </span>
                                                    <img src="/static/images/shoe19e39f.jpg" class="featured-image" alt="Bast shoe">
                                                </div>

                                            </a>
                                            <div class="ImageWrapper">
                                                <div class="product-button">

                                                    <div class="add-to-wishlist">
                                                        <div class="show">
                                                            <div class="default-wishbutton-georgette-tunic loading" onclick="location.href = '/users/sneaker';">
                                                                <a class="add-in-wishlist-js btn" href="/users/sneaker">Buy</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-detail">
                                            <a href="/users/sneaker" class="grid-link__title">Air Force 1</a>
                                            

                                        </div>
                                    </div>
                                </li>

                                <li class="grid__item item-row   " id="product-10386297230">
                                    <div class="products">
                                        <div class="product-container">

                                            <div class="deal-clock lof-clock-10386298510-detail">
                                                <ul class='list-inline'>
                                                    <li class='day'>12 - 08 - 2018</li>
                                                </ul>
                                            </div>

                                            <a href="/users/sneaker" class="grid-link">
                                                <div class="featured-tag">
                                                    <span class="badge badge--red">
                                                        <span class="gift-tag badge__text">Adidas</span>
                                                    </span>
                                                </div>
                                                <div class="featured-tag-right">
                                                    <span class="badge badge--black">

                                                        <span class="gift-tag badge__text">20000RWF</span>
                                                    </span>
                                                </div>

                                                <div class="ImageOverlayCa"></div>

                                                <div class="reveal">
                                                    <span class="product-additional">      
                                                        <img class="" src="/static/images/shoe21_aa15e9bd-a530-4000-b8e6-d30eb48210731745.jpg" alt="Climbing shoe" />
                                                    </span>
                                                    <img src="/static/images/shoe26_de67b47c-8d95-481f-aa85-268cdc309e4e7331.jpg" class="featured-image" alt="Climbing shoe">
                                                </div>

                                            </a>
                                            <div class="ImageWrapper">
                                                <div class="product-button">

                                                    <div class="add-to-wishlist">
                                                        <div class="show">
                                                            <div class="default-wishbutton-georgette-tunic loading" onclick="location.href = '/users/sneaker';">
                                                                <a class="add-in-wishlist-js btn" href="/users/sneaker">Buy</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-detail">
                                            <a href="/users/sneaker" class="grid-link__title">Air Force 1</a>

                                        </div>
                                    </div>
                                </li>

                                <li class="grid__item item-row   " id="product-10386296782">
                                    <div class="products">
                                        <div class="product-container">

                                            <div class="deal-clock lof-clock-10386296782-detail">
                                                <ul class='list-inline'>
                                                    <li class='day'>12 - 08 - 2018</li>
                                                </ul>
                                            </div>

                                            <a href="/users/sneaker" class="grid-link">
                                                <div class="featured-tag">
                                                    <span class="badge badge--red">
                                                        <span class="gift-tag badge__text">Adidas</span>
                                                    </span>
                                                </div>
                                                <div class="featured-tag-right">
                                                    <span class="badge badge--black">

                                                        <span class="gift-tag badge__text">20000RWF</span>
                                                    </span>
                                                </div>

                                                <div class="ImageOverlayCa"></div>

                                                <div class="reveal">
                                                    <span class="product-additional">      
                                                        <img class="" src="/static/images/shoe17be7a.jpg" alt="Bast shoe" />
                                                    </span>
                                                    <img src="/static/images/shoe20_c19cffd2-3ed5-41bf-bf2d-86046aaf06ab2683.jpg" class="featured-image" alt="Bast shoe">
                                                </div>

                                            </a>
                                            <div class="ImageWrapper">
                                                <div class="product-button">

                                                    <div class="add-to-wishlist">
                                                        <div class="show">
                                                            <div class="default-wishbutton-georgette-tunic loading" onclick="location.href = '/users/sneaker';">
                                                                <a class="add-in-wishlist-js btn" href="/users/sneaker">Buy</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-detail">
                                            <a href="/users/sneaker" class="grid-link__title">Air Force 1</a>

                                        </div>
                                    </div>
                                </li>

                                <li class="grid__item item-row   " id="product-10386296782">
                                    <div class="products">
                                        <div class="product-container">

                                            <div class="deal-clock lof-clock-10386296782-detail">
                                                <ul class='list-inline'>
                                                    <li class='day'>12 - 08 - 2018</li>
                                                </ul>
                                            </div>

                                            <a href="/users/sneaker" class="grid-link">
                                                <div class="featured-tag">
                                                    <span class="badge badge--red">
                                                        <span class="gift-tag badge__text">Adidas</span>
                                                    </span>
                                                </div>
                                                <div class="featured-tag-right">
                                                    <span class="badge badge--black">

                                                        <span class="gift-tag badge__text">20000RWF</span>
                                                    </span>
                                                </div>

                                                <div class="ImageOverlayCa"></div>

                                                <div class="reveal">
                                                    <span class="product-additional">      
                                                        <img class="" src="/static/images/shoe276826.jpg" alt="Bast shoe" />
                                                    </span>
                                                    <img src="/static/images/shoe181bcf.jpg" class="featured-image" alt="Bast shoe">
                                                </div>

                                            </a>
                                            <div class="ImageWrapper">
                                                <div class="product-button">

                                                    <div class="add-to-wishlist">
                                                        <div class="show">
                                                            <div class="default-wishbutton-georgette-tunic loading" onclick="location.href = '/users/sneaker';">
                                                                <a class="add-in-wishlist-js btn" href="/users/sneaker">Buy</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-detail">
                                            <a href="/users/sneaker" class="grid-link__title">Air Force 1</a>

                                        </div>
                                    </div>
                                </li>

                                <li class="grid__item item-row   " id="product-10386296782">
                                    <div class="products">
                                        <div class="product-container">

                                            <div class="deal-clock lof-clock-10386296782-detail">
                                                <ul class='list-inline'>
                                                    <li class='day'>12 - 08 - 2018</li>
                                                </ul>
                                            </div>

                                            <a href="/users/sneaker" class="grid-link">
                                                <div class="featured-tag">
                                                    <span class="badge badge--red">
                                                        <span class="gift-tag badge__text">Adidas</span>
                                                    </span>
                                                </div>
                                                <div class="featured-tag-right">
                                                    <span class="badge badge--black">

                                                        <span class="gift-tag badge__text">20000RWF</span>
                                                    </span>
                                                </div>

                                                <div class="ImageOverlayCa"></div>

                                                <div class="reveal">
                                                    <span class="product-additional">      
                                                        <img class="" src="/static/images/shoe6_13eed6bb-c314-4c13-ae99-15a0833f1077b33e.jpg" alt="Bast shoe" />
                                                    </span>
                                                    <img src="/static/images/shoe25_2b59f812-76f2-448b-8835-d7ad151027e4cd19.jpg" class="featured-image" alt="Bast shoe">
                                                </div>

                                            </a>
                                            <div class="ImageWrapper">
                                                <div class="product-button">

                                                    <div class="add-to-wishlist">
                                                        <div class="show">
                                                            <div class="default-wishbutton-georgette-tunic loading" onclick="location.href = '/users/sneaker';">
                                                                <a class="add-in-wishlist-js btn" href="/users/sneaker">Buy</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-detail">
                                            <a href="/users/sneaker" class="grid-link__title">Air Force 1</a>

                                        </div>
                                    </div>
                                </li>

                                <li class="grid__item item-row   " id="product-10386296782">
                                    <div class="products">
                                        <div class="product-container">

                                            <div class="deal-clock lof-clock-10386296782-detail">
                                                <ul class='list-inline'>
                                                    <li class='day'>12 - 08 - 2018</li>
                                                </ul>
                                            </div>

                                            <a href="/users/sneaker" class="grid-link">
                                                <div class="featured-tag">
                                                    <span class="badge badge--red">
                                                        <span class="gift-tag badge__text">Adidas</span>
                                                    </span>
                                                </div>
                                                <div class="featured-tag-right">
                                                    <span class="badge badge--black">

                                                        <span class="gift-tag badge__text">20000RWF</span>
                                                    </span>
                                                </div>

                                                <div class="ImageOverlayCa"></div>

                                                <div class="reveal">
                                                    <span class="product-additional">      
                                                        <img class="" src="/static/images/shoe4_adb694bb-d905-40e4-a7ff-7d9150638b933696.jpg" alt="Bast shoe" />
                                                    </span>
                                                    <img src="/static/images/shoe22_48464579-a7fe-40ba-ad66-8c6aa7ef2bb1dba5.jpg" class="featured-image" alt="Bast shoe">
                                                </div>

                                            </a>
                                            <div class="ImageWrapper">
                                                <div class="product-button">

                                                    <div class="add-to-wishlist">
                                                        <div class="show">
                                                            <div class="default-wishbutton-georgette-tunic loading" onclick="location.href = '/users/sneaker';">
                                                                <a class="add-in-wishlist-js btn" href="/users/sneaker">Buy</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-detail">
                                            <a href="/users/sneaker" class="grid-link__title">Air Force 1</a>

                                        </div>
                                    </div>
                                </li>

                                <li class="grid__item item-row   " id="product-10386296782">
                                    <div class="products">
                                        <div class="product-container">

                                            <div class="deal-clock lof-clock-10386296782-detail">
                                                <ul class='list-inline'>
                                                    <li class='day'>12 - 08 - 2018</li>
                                                </ul>
                                            </div>

                                            <a href="/users/sneaker" class="grid-link">
                                                <div class="featured-tag">
                                                    <span class="badge badge--red">
                                                        <span class="gift-tag badge__text">Adidas</span>
                                                    </span>
                                                </div>
                                                <div class="featured-tag-right">
                                                    <span class="badge badge--black">

                                                        <span class="gift-tag badge__text">20000RWF</span>
                                                    </span>
                                                </div>

                                                <div class="ImageOverlayCa"></div>

                                                <div class="reveal">
                                                    <span class="product-additional">      
                                                        <img class="" src="/static/images/shoe12_3ce5bae7-ad13-4636-873c-0498e9179dd11e7f.jpg" alt="Bast shoe" />
                                                    </span>
                                                    <img src="/static/images/shoe24_e6691333-f78c-42b2-9cc9-c494d3e84d0f1e7f.jpg" class="featured-image" alt="Bast shoe">
                                                </div>

                                            </a>
                                            <div class="ImageWrapper">
                                                <div class="product-button">

                                                    <div class="add-to-wishlist">
                                                        <div class="show">
                                                            <div class="default-wishbutton-georgette-tunic loading" onclick="location.href = '/users/sneaker';">
                                                                <a class="add-in-wishlist-js btn" href="/users/sneaker">Buy</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-detail">
                                            <a href="/users/sneaker" class="grid-link__title">Air Force 1</a>

                                        </div>
                                    </div>
                                </li>

                                <li class="grid__item item-row   " id="product-10386296782">
                                    <div class="products">
                                        <div class="product-container">

                                            <div class="deal-clock lof-clock-10386296782-detail">
                                                <ul class='list-inline'>
                                                    <li class='day'>12 - 08 - 2018</li>
                                                </ul>
                                            </div>

                                            <a href="/users/sneaker" class="grid-link">
                                                <div class="featured-tag">
                                                    <span class="badge badge--red">
                                                        <span class="gift-tag badge__text">Adidas</span>
                                                    </span>
                                                </div>
                                                <div class="featured-tag-right">
                                                    <span class="badge badge--black">

                                                        <span class="gift-tag badge__text">20000RWF</span>
                                                    </span>
                                                </div>

                                                <div class="ImageOverlayCa"></div>

                                                <div class="reveal">
                                                    <span class="product-additional">      
                                                        <img class="" src="/static/images/shoe16_9887b0a3-2a5e-4611-a15f-fb10959ae0bc3d5c.jpg" alt="Bast shoe" />
                                                    </span>
                                                    <img src="/static/images/shoe14_608141c6-f805-4374-aee5-65a7b34f6d513d5c.jpg" class="featured-image" alt="Bast shoe">
                                                </div>

                                            </a>
                                            <div class="ImageWrapper">
                                                <div class="product-button">

                                                    <div class="add-to-wishlist">
                                                        <div class="show">
                                                            <div class="default-wishbutton-georgette-tunic loading" onclick="location.href = '/users/sneaker';">
                                                                <a class="add-in-wishlist-js btn" href="/users/sneaker">Buy</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-detail">
                                            <a href="/users/sneaker" class="grid-link__title">Air Force 1</a>

                                        </div>
                                    </div>
                                </li>

                                <li class="grid__item item-row   " id="product-10386297230">
                                    <div class="products">
                                        <div class="product-container">

                                            <div class="deal-clock lof-clock-10386298510-detail">
                                                <ul class='list-inline'>
                                                    <li class='day'>12 - 08 - 2018</li>
                                                </ul>
                                            </div>

                                            <a href="/users/sneaker" class="grid-link">
                                                <div class="featured-tag">
                                                    <span class="badge badge--red">
                                                        <span class="gift-tag badge__text">Adidas</span>
                                                    </span>
                                                </div>
                                                <div class="featured-tag-right">
                                                    <span class="badge badge--black">

                                                        <span class="gift-tag badge__text">20000RWF</span>
                                                    </span>
                                                </div>

                                                <div class="ImageOverlayCa"></div>

                                                <div class="reveal">
                                                    <span class="product-additional">      
                                                        <img class="" src="/static/images/shoe21_aa15e9bd-a530-4000-b8e6-d30eb48210731745.jpg" alt="Climbing shoe" />
                                                    </span>
                                                    <img src="/static/images/shoe26_de67b47c-8d95-481f-aa85-268cdc309e4e7331.jpg" class="featured-image" alt="Climbing shoe">
                                                </div>

                                            </a>
                                            <div class="ImageWrapper">
                                                <div class="product-button">

                                                    <div class="add-to-wishlist">
                                                        <div class="show">
                                                            <div class="default-wishbutton-georgette-tunic loading" onclick="location.href = '/users/sneaker';">
                                                                <a class="add-in-wishlist-js btn" href="/users/sneaker">Buy</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-detail">
                                            <a href="/users/sneaker" class="grid-link__title">Air Force 1</a>

                                        </div>
                                    </div>
                                </li>

                                <li class="grid__item item-row   " id="product-10386296782">
                                    <div class="products">
                                        <div class="product-container">

                                            <div class="deal-clock lof-clock-10386296782-detail">
                                                <ul class='list-inline'>
                                                    <li class='day'>12 - 08 - 2018</li>
                                                </ul>
                                            </div>

                                            <a href="/users/sneaker" class="grid-link">
                                                <div class="featured-tag">
                                                    <span class="badge badge--red">
                                                        <span class="gift-tag badge__text">Adidas</span>
                                                    </span>
                                                </div>
                                                <div class="featured-tag-right">
                                                    <span class="badge badge--black">

                                                        <span class="gift-tag badge__text">20000RWF</span>
                                                    </span>
                                                </div>

                                                <div class="ImageOverlayCa"></div>

                                                <div class="reveal">
                                                    <span class="product-additional">      
                                                        <img class="" src="/static/images/shoe17be7a.jpg" alt="Bast shoe" />
                                                    </span>
                                                    <img src="/static/images/shoe20_c19cffd2-3ed5-41bf-bf2d-86046aaf06ab2683.jpg" class="featured-image" alt="Bast shoe">
                                                </div>

                                            </a>
                                            <div class="ImageWrapper">
                                                <div class="product-button">

                                                    <div class="add-to-wishlist">
                                                        <div class="show">
                                                            <div class="default-wishbutton-georgette-tunic loading" onclick="location.href = '/users/sneaker';">
                                                                <a class="add-in-wishlist-js btn" href="/users/sneaker">Buy</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-detail">
                                            <a href="/users/sneaker" class="grid-link__title">Air Force 1</a>

                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>

                    </div>
                    <div class="dt-sc-hr-invisible-large"></div>


                </div>
                <div id="shopify-section-1492074177582" class="shopify-section index-section">
                    <div data-section-id="1492074177582" data-section-type="wide-banner-type-1" class="wide-banner-type-1">
                        <div class="grid-uniform CollectionItems">

                            <div class="wide-banner-type-1-bock" style="background-image:url('/static/images/banner-125c5.jpg');background-attachment:fixed;background-repeat:no-repeat;background-position:center center;">

                                <div class="wide-banner-type-1-content">

                                    <h3 style="color:#ffffff;">the season begings</h3>

                                    <h2 style="color:#ffffff;">PROMOTION <span style="color:#e7304c;">SALE OFF 10%</span></h2>

                                    <div class="deal-clock lof-clock-timer-detail"></div>

                                    <div class="deal-content">

                                        <h4 style="color:#eeeeee;">HURRY</h4>

                                        <p style="color:#eeeeee;">Before offer Ends</p>


                                        <!-- <div class="deal-btn"> <a class="btn" href="#" style="border:none;color:#fff;background-color:#FF0000;">Shop now</a> </div> -->

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="dt-sc-hr-invisible-large"></div>

                </div>
                <div id="shopify-section-1492429206593" class="shopify-section index-section">
                    <div data-section-id="1492429206593" data-section-type="filter-grid-type-1" class="filter-grid-type-1">

                        <div class="grid__item text-center">

                            <h2 style="color:#000;">BEST SELLERS</h2>

                            <div class="short-desc" style="color:#000;">
                                <p>Just in Now</p>
                            </div>

                        </div>

                        <div class="grid__item  text-center">
                            <div class="sorting-container">
                                <a style="color:#a5a5a5;" data-filter=".all-sort" class="active-all" href="#">All</a>
                                <a style="color:#a5a5a5;" data-filter=".sale" href="#">Sale</a>
                                <a style="color:#a5a5a5;" data-filter=".best" href="#">Best</a>
                                <a style="color:#a5a5a5;" data-filter=".new" href="#">New</a>

                            </div>
                        </div>

                        <div class="portfolio-container cs-style-3">

                            <div class="column grid__item wide--one-fifth post-large--one-fifth large--one-third medium--one-third small-grid__item small--grid__item text-center gallery no-space new all-sort">

                                <div class="grid__item item-row  " id="product-10606201998">
                                    <div class="products   wow fadeIn  ">
                                        <div class="product-container">

                                            <div class="deal-clock lof-clock-10386296782-detail">
                                                <ul class='list-inline'>
                                                    <li class='day'>12 - 08 - 2018</li>
                                                </ul>
                                            </div>

                                            <a href="/users/sneaker" class="grid-link">
                                                <div class="featured-tag">
                                                    <span class="badge badge--red">
                                                        <span class="gift-tag badge__text">Adidas</span>
                                                    </span>
                                                </div>
                                                <div class="featured-tag-right">
                                                    <span class="badge badge--black">

                                                        <span class="gift-tag badge__text">20000RWF</span>
                                                    </span>
                                                </div>

                                                <div class="ImageOverlayCa"></div>

                                                <div class="reveal">
                                                    <span class="product-additional">      
                                                        <img class="" src="/static/images/shoe12_968efbaa-1956-4621-93d2-1f1f8fdc3d11ba62.jpg" alt="zapatos dg mercadolibre" />
                                                    </span>
                                                    <img src="/static/images/shoe9_8a5e5186-31f5-47cb-a8cf-fecf2349bed7fe37.jpg" class="featured-image" alt="zapatos dg mercadolibre">
                                                </div>

                                            </a>
                                            <div class="ImageWrapper">
                                                <div class="product-button">

                                                    <div class="add-to-wishlist">
                                                        <div class="show">
                                                            <div class="default-wishbutton-georgette-tunic loading" onclick="location.href = '/users/sneaker';">
                                                                <a class="add-in-wishlist-js btn" href="/users/sneaker">Buy</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-detail">
                                            <a href="/users/sneaker" class="grid-link__title">Air Force 1</a>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="column grid__item wide--one-fifth post-large--one-fifth large--one-third medium--one-third small-grid__item small--grid__item text-center gallery no-space sale new all-sort">

                                <div class="grid__item item-row  " id="product-10606201998">
                                    <div class="products   wow fadeIn  ">
                                        <div class="product-container">

                                            <div class="deal-clock lof-clock-10386296782-detail">
                                                <ul class='list-inline'>
                                                    <li class='day'>12 - 08 - 2018</li>
                                                </ul>
                                            </div>

                                            <a href="/users/sneaker" class="grid-link">
                                                <div class="featured-tag">
                                                    <span class="badge badge--red">
                                                        <span class="gift-tag badge__text">Adidas</span>
                                                    </span>
                                                </div>
                                                <div class="featured-tag-right">
                                                    <span class="badge badge--black">

                                                        <span class="gift-tag badge__text">20000RWF</span>
                                                    </span>
                                                </div>

                                                <div class="ImageOverlayCa"></div>

                                                <div class="reveal">
                                                    <span class="product-additional">      
                                                        <img class="" src="/static/images/shoe1_cfcb6e4c-151f-46ee-bc34-3a892f7941861255.jpg" alt="zapatos dg mercadolibre" />
                                                    </span>
                                                    <img src="/static/images/shoe151255.jpg" class="featured-image" alt="zapatos dg mercadolibre">
                                                </div>

                                            </a>
                                            <div class="ImageWrapper">
                                                <div class="product-button">

                                                    <div class="add-to-wishlist">
                                                        <div class="show">
                                                            <div class="default-wishbutton-georgette-tunic loading" onclick="location.href = '/users/sneaker';">
                                                                <a class="add-in-wishlist-js btn" href="/users/sneaker">Buy</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-detail">
                                            <a href="/users/sneaker" class="grid-link__title">Air Force 1</a>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="column grid__item wide--one-fifth post-large--one-fifth large--one-third medium--one-third small-grid__item small--grid__item text-center gallery no-space new all-sort">

                                <div class="grid__item item-row  " id="product-10606201998">
                                    <div class="products   wow fadeIn  ">
                                        <div class="product-container">

                                            <div class="deal-clock lof-clock-10386296782-detail">
                                                <ul class='list-inline'>
                                                    <li class='day'>12 - 08 - 2018</li>
                                                </ul>
                                            </div>

                                            <a href="/users/sneaker" class="grid-link">
                                                <div class="featured-tag">
                                                    <span class="badge badge--red">
                                                        <span class="gift-tag badge__text">Adidas</span>
                                                    </span>
                                                </div>
                                                <div class="featured-tag-right">
                                                    <span class="badge badge--black">

                                                        <span class="gift-tag badge__text">20000RWF</span>
                                                    </span>
                                                </div>

                                                <div class="ImageOverlayCa"></div>

                                                <div class="reveal">
                                                    <span class="product-additional">      
                                                        <img class="" src="/static/images/shoe5_5008bddd-b8ea-4eb6-b9a6-93ec50c62c393196.jpg" alt="zapatos dg mercadolibre" />
                                                    </span>
                                                    <img src="/static/images/shoe23_5444b0e6-72c7-450c-aab6-081a70660dcddb7b.jpg" class="featured-image" alt="zapatos dg mercadolibre">
                                                </div>

                                            </a>
                                            <div class="ImageWrapper">
                                                <div class="product-button">

                                                    <div class="add-to-wishlist">
                                                        <div class="show">
                                                            <div class="default-wishbutton-georgette-tunic loading" onclick="location.href = '/users/sneaker';">
                                                                <a class="add-in-wishlist-js btn" href="/users/sneaker">Buy</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-detail">
                                            <a href="/users/sneaker" class="grid-link__title">Air Force 1</a>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="column grid__item wide--one-fifth post-large--one-fifth large--one-third medium--one-third small-grid__item  small--grid__item text-center gallery no-space  sale  new  all-sort">

                                <div class="grid__item item-row  " id="product-10606201998">
                                    <div class="products   wow fadeIn  ">
                                        <div class="product-container">

                                            <div class="deal-clock lof-clock-10386296782-detail">
                                                <ul class='list-inline'>
                                                    <li class='day'>12 - 08 - 2018</li>
                                                </ul>
                                            </div>

                                            <a href="/users/sneaker" class="grid-link">
                                                <div class="featured-tag">
                                                    <span class="badge badge--red">
                                                        <span class="gift-tag badge__text">Adidas</span>
                                                    </span>
                                                </div>
                                                <div class="featured-tag-right">
                                                    <span class="badge badge--black">

                                                        <span class="gift-tag badge__text">20000RWF</span>
                                                    </span>
                                                </div>

                                                <div class="ImageOverlayCa"></div>

                                                <div class="reveal">
                                                    <span class="product-additional">      
                                                        <img class="" src="/static/images/shoe12e46c.jpg" alt="zapatos dg mercadolibre" />
                                                    </span>
                                                    <img src="/static/images/shoe71130.jpg" class="featured-image" alt="zapatos dg mercadolibre">
                                                </div>

                                            </a>
                                            <div class="ImageWrapper">
                                                <div class="product-button">

                                                    <div class="add-to-wishlist">
                                                        <div class="show">
                                                            <div class="default-wishbutton-georgette-tunic loading" onclick="location.href = '/users/sneaker';">
                                                                <a class="add-in-wishlist-js btn" href="/users/sneaker">Buy</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-detail">
                                            <a href="/users/sneaker" class="grid-link__title">Air Force 1</a>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="column grid__item wide--one-fifth post-large--one-fifth large--one-third medium--one-third small-grid__item small--grid__item text-center gallery no-space new all-sort">

                                <div class="grid__item item-row  " id="product-10606201998">
                                    <div class="products   wow fadeIn  ">
                                        <div class="product-container">

                                            <div class="deal-clock lof-clock-10386296782-detail">
                                                <ul class='list-inline'>
                                                    <li class='day'>12 - 08 - 2018</li>
                                                </ul>
                                            </div>

                                            <a href="/users/sneaker" class="grid-link">
                                                <div class="featured-tag">
                                                    <span class="badge badge--red">
                                                        <span class="gift-tag badge__text">Adidas</span>
                                                    </span>
                                                </div>
                                                <div class="featured-tag-right">
                                                    <span class="badge badge--black">

                                                        <span class="gift-tag badge__text">20000RWF</span>
                                                    </span>
                                                </div>

                                                <div class="ImageOverlayCa"></div>

                                                <div class="reveal">
                                                    <span class="product-additional">      
                                                        <img class="" src="/static/images/shoe30d9a.jpg" alt="zapatos dg mercadolibre" />
                                                    </span>
                                                    <img src="/static/images/shoe210d9a.jpg" class="featured-image" alt="zapatos dg mercadolibre">
                                                </div>

                                            </a>
                                            <div class="ImageWrapper">
                                                <div class="product-button">

                                                    <div class="add-to-wishlist">
                                                        <div class="show">
                                                            <div class="default-wishbutton-georgette-tunic loading" onclick="location.href = '/users/sneaker';">
                                                                <a class="add-in-wishlist-js btn" href="/users/sneaker">Buy</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-detail">
                                            <a href="/users/sneaker" class="grid-link__title">Air Force 1</a>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="column grid__item wide--one-fifth post-large--one-fifth large--one-third medium--one-third small-grid__item  small--grid__item text-center gallery no-space  sale  new  all-sort">

                                <div class="grid__item item-row  " id="product-10606201998">
                                    <div class="products   wow fadeIn  ">
                                        <div class="product-container">

                                            <div class="deal-clock lof-clock-10386296782-detail">
                                                <ul class='list-inline'>
                                                    <li class='day'>12 - 08 - 2018</li>
                                                </ul>
                                            </div>

                                            <a href="/users/sneaker" class="grid-link">
                                                <div class="featured-tag">
                                                    <span class="badge badge--red">
                                                        <span class="gift-tag badge__text">Adidas</span>
                                                    </span>
                                                </div>
                                                <div class="featured-tag-right">
                                                    <span class="badge badge--black">

                                                        <span class="gift-tag badge__text">20000RWF</span>
                                                    </span>
                                                </div>

                                                <div class="ImageOverlayCa"></div>

                                                <div class="reveal">
                                                    <span class="product-additional">      
                                                        <img class="" src="/static/images/shoe2_d912f723-68c8-4966-98a8-59212e18afe4e471.jpg" alt="zapatos dg mercadolibre" />
                                                    </span>
                                                    <img src="/static/images/shoe9_0926fd04-01c0-4c74-b158-0fc24171828fe471.jpg" class="featured-image" alt="zapatos dg mercadolibre">
                                                </div>

                                            </a>
                                            <div class="ImageWrapper">
                                                <div class="product-button">

                                                    <div class="add-to-wishlist">
                                                        <div class="show">
                                                            <div class="default-wishbutton-georgette-tunic loading" onclick="location.href = '/users/sneaker';">
                                                                <a class="add-in-wishlist-js btn" href="/users/sneaker">Buy</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-detail">
                                            <a href="/users/sneaker" class="grid-link__title">Air Force 1</a>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="column grid__item wide--one-fifth post-large--one-fifth large--one-third medium--one-third small-grid__item  small--grid__item text-center gallery no-space best sale  new  all-sort">

                                <div class="grid__item item-row  " id="product-10606201998">
                                    <div class="products   wow fadeIn  ">
                                        <div class="product-container">

                                            <div class="deal-clock lof-clock-10386296782-detail">
                                                <ul class='list-inline'>
                                                    <li class='day'>12 - 08 - 2018</li>
                                                </ul>
                                            </div>

                                            <a href="/users/sneaker" class="grid-link">
                                                <div class="featured-tag">
                                                    <span class="badge badge--red">
                                                        <span class="gift-tag badge__text">Adidas</span>
                                                    </span>
                                                </div>
                                                <div class="featured-tag-right">
                                                    <span class="badge badge--black">

                                                        <span class="gift-tag badge__text">20000RWF</span>
                                                    </span>
                                                </div>

                                                <div class="ImageOverlayCa"></div>

                                                <div class="reveal">
                                                    <span class="product-additional">      
                                                        <img class="" src="/static/images/shoe17_a234f8d7-6358-468b-a996-52474ea436c4a3ef.jpg" alt="zapatos dg mercadolibre" />
                                                    </span>
                                                    <img src="/static/images/shoe139b47.jpg" class="featured-image" alt="zapatos dg mercadolibre">
                                                </div>

                                            </a>
                                            <div class="ImageWrapper">
                                                <div class="product-button">

                                                    <div class="add-to-wishlist">
                                                        <div class="show">
                                                            <div class="default-wishbutton-georgette-tunic loading" onclick="location.href = '/users/sneaker';">
                                                                <a class="add-in-wishlist-js btn" href="/users/sneaker">Buy</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-detail">
                                            <a href="/users/sneaker" class="grid-link__title">Air Force 1</a>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="column grid__item wide--one-fifth post-large--one-fifth large--one-third medium--one-third small-grid__item  small--grid__item text-center gallery no-space  sale  new  all-sort">

                                <div class="grid__item item-row  " id="product-10606201998">
                                    <div class="products   wow fadeIn  ">
                                        <div class="product-container">

                                            <div class="deal-clock lof-clock-10386296782-detail">
                                                <ul class='list-inline'>
                                                    <li class='day'>12 - 08 - 2018</li>
                                                </ul>
                                            </div>

                                            <a href="/users/sneaker" class="grid-link">
                                                <div class="featured-tag">
                                                    <span class="badge badge--red">
                                                        <span class="gift-tag badge__text">Adidas</span>
                                                    </span>
                                                </div>
                                                <div class="featured-tag-right">
                                                    <span class="badge badge--black">

                                                        <span class="gift-tag badge__text">20000RWF</span>
                                                    </span>
                                                </div>

                                                <div class="ImageOverlayCa"></div>

                                                <div class="reveal">
                                                    <span class="product-additional">      
                                                        <img class="" src="/static/images/shoe6_7ceb3af7-ec37-44e1-9d9a-7b8d68757eb0302a.jpg" alt="zapatos dg mercadolibre" />
                                                    </span>
                                                    <img src="/static/images/shoe5_90c6fa1d-1bf9-46f3-b538-2de82f0c8095cd12.jpg" class="featured-image" alt="zapatos dg mercadolibre">
                                                </div>

                                            </a>
                                            <div class="ImageWrapper">
                                                <div class="product-button">

                                                    <div class="add-to-wishlist">
                                                        <div class="show">
                                                            <div class="default-wishbutton-georgette-tunic loading" onclick="location.href = '/users/sneaker';">
                                                                <a class="add-in-wishlist-js btn" href="/users/sneaker">Buy</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-detail">
                                            <a href="/users/sneaker" class="grid-link__title">Air Force 1</a>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="column grid__item wide--one-fifth post-large--one-fifth large--one-third medium--one-third small-grid__item  small--grid__item text-center gallery no-space best sale  new  all-sort">

                                <div class="grid__item item-row  " id="product-10606201998">
                                    <div class="products   wow fadeIn  ">
                                        <div class="product-container">

                                            <div class="deal-clock lof-clock-10386296782-detail">
                                                <ul class='list-inline'>
                                                    <li class='day'>12 - 08 - 2018</li>
                                                </ul>
                                            </div>

                                            <a href="/users/sneaker" class="grid-link">
                                                <div class="featured-tag">
                                                    <span class="badge badge--red">
                                                        <span class="gift-tag badge__text">Adidas</span>
                                                    </span>
                                                </div>
                                                <div class="featured-tag-right">
                                                    <span class="badge badge--black">

                                                        <span class="gift-tag badge__text">20000RWF</span>
                                                    </span>
                                                </div>

                                                <div class="ImageOverlayCa"></div>

                                                <div class="reveal">
                                                    <span class="product-additional">      
                                                        <img class="" src="/static/images/shoe4_7736255a-d2c6-4cf1-afd8-95c1e735eb973057.jpg" alt="zapatos dg mercadolibre" />
                                                    </span>
                                                    <img src="/static/images/shoe11aa16.jpg" class="featured-image" alt="zapatos dg mercadolibre">
                                                </div>

                                            </a>
                                            <div class="ImageWrapper">
                                                <div class="product-button">

                                                    <div class="add-to-wishlist">
                                                        <div class="show">
                                                            <div class="default-wishbutton-georgette-tunic loading" onclick="location.href = '/users/sneaker';">
                                                                <a class="add-in-wishlist-js btn" href="/users/sneaker">Buy</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-detail">
                                            <a href="/users/sneaker" class="grid-link__title">Air Force 1</a>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="column grid__item wide--one-fifth post-large--one-fifth large--one-third medium--one-third small-grid__item  small--grid__item text-center gallery no-space  sale  best new  all-sort">

                                <div class="grid__item item-row  " id="product-10606201998">
                                    <div class="products   wow fadeIn  ">
                                        <div class="product-container">

                                            <div class="deal-clock lof-clock-10386296782-detail">
                                                <ul class='list-inline'>
                                                    <li class='day'>12 - 08 - 2018</li>
                                                </ul>
                                            </div>

                                            <a href="/users/sneaker" class="grid-link">
                                                <div class="featured-tag">
                                                    <span class="badge badge--red">
                                                        <span class="gift-tag badge__text">Adidas</span>
                                                    </span>
                                                </div>
                                                <div class="featured-tag-right">
                                                    <span class="badge badge--black">

                                                        <span class="gift-tag badge__text">20000RWF</span>
                                                    </span>
                                                </div>

                                                <div class="ImageOverlayCa"></div>

                                                <div class="reveal">
                                                    <span class="product-additional">      
                                                        <img class="" src="/static/images/shoe25_2b9a4ac0-54e3-4141-a0cd-3d7936bd40ef45c2.jpg" alt="zapatos dg mercadolibre" />
                                                    </span>
                                                    <img src="/static/images/shoe12_d236d83f-7f25-4d9e-b156-5131fead58c645c2.jpg" class="featured-image" alt="zapatos dg mercadolibre">
                                                </div>

                                            </a>
                                            <div class="ImageWrapper">
                                                <div class="product-button">

                                                    <div class="add-to-wishlist">
                                                        <div class="show">
                                                            <div class="default-wishbutton-georgette-tunic loading" onclick="location.href = '/users/sneaker';">
                                                                <a class="add-in-wishlist-js btn" href="/users/sneaker">Buy</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-detail">
                                            <a href="/users/sneaker" class="grid-link__title">Air Force 1</a>

                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>

                        <style>
                            .filter-grid-type-1 .sorting-container a:hover,
                            .filter-grid-type-1 .sorting-container a.active-all {
                                color: #000 !important;
                            }
                        </style>
                        <div class="dt-sc-hr-invisible-large"></div>
                    </div>

                </div>



                <div id="shopify-section-1492075634007" class="shopify-section index-section">
                    <div data-section-id="1492075634007" data-section-type="support-block-type-1" class="support-block-type-1">
                        <div class="grid-uniform">
                            <ul class="support_block" style="background:#fbfbfb;">

                                <li class="grid__item wide--one-quarter post-large--one-quarter large--one-quarter medium--one-half small-grid__item wow fadeInUp" data-wow-delay="ms">
                                    <div class="support_section">
                                        <div class="support_inner">

                                            <div class="support_icon">
                                                <i class="fa fa-plane" style="color:#000;"></i>
                                            </div>

                                            <div class="support_text">

                                                <h2 style="color:#000;">Free <br>Delivery</h2>

                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="grid__item wide--one-quarter post-large--one-quarter large--one-quarter medium--one-half small-grid__item wow fadeInUp" data-wow-delay="ms">
                                    <div class="support_section">
                                        <div class="support_inner">

                                            <div class="support_icon">
                                                <i class="fa fa-headphones" style="color:#000;"></i>
                                            </div>

                                            <div class="support_text">

                                                <h2 style="color:#000;">Clients <br> Discounts</h2>

                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="grid__item wide--one-quarter post-large--one-quarter large--one-quarter medium--one-half small-grid__item wow fadeInUp" data-wow-delay="ms">
                                    <div class="support_section">
                                        <div class="support_inner">

                                            <div class="support_icon">
                                                <i class="fa fa-exchange" style="color:#000;"></i>
                                            </div>

                                            <div class="support_text">

                                                <h2 style="color:#000;">Return <br>of goods</h2>

                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="grid__item wide--one-quarter post-large--one-quarter large--one-quarter medium--one-half small-grid__item wow fadeInUp" data-wow-delay="ms">
                                    <div class="support_section">
                                        <div class="support_inner">

                                            <div class="support_icon">
                                                <i class="fa fa-gg" style="color:#000;"></i>
                                            </div>

                                            <div class="support_text">

                                                <h2 style="color:#000;">Many <br> Brands</h2>

                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>

                        </div>
                    </div>

                </div>
                <!-- END content_for_index -->

            </div>

        </main>

        <%- include layouts/footer.ejs %>