
        <%- include layouts/header.ejs %>
        <main class="main-content">

                <nav class="breadcrumb" aria-label="breadcrumbs">

                        <h1> Success</h1>

                        <a href="/users/cart" title="Back to the cart">Cart</a>

                        <span aria-hidden="true" class="breadcrumb__sep">&#47;</span>
                        <span> Payment</span>

                </nav>

                <div class="dt-sc-hr-invisible-large"></div>
                <div class="wrapper">
                    <div class="grid__item text-center">


                        <h2 style="color:#000;visibility: hidden;">.</h2>
                        <h2 style="color:#000;">Thank You.</h2>
                        <h2 style="color:#000;visibility: hidden;">.</h2>

                        <div class="" style="color:#000;">
                            <p>Thank you! we have received your order!</p>
                        </div>

                        <div class="" style="color:#000;">
                            <p>Please check receipt in your email</p>
                        </div>
                        
                        <h2 style="color:#000;visibility: hidden;">Thank You.</h2>
                    </div>

                </div>



                <div id="shopify-section-1492075634007" class="shopify-section index-section">
                    <div data-section-id="1492075634007" data-section-type="support-block-type-1" class="support-block-type-1">
                        <div class="grid-uniform">
                            <ul class="support_block" style="background:#fbfbfb;">

                                <li class="grid__item wide--one-quarter post-large--one-quarter large--one-quarter medium--one-half small-grid__item wow fadeInUp" data-wow-delay="ms">
                                    <div class="support_section">
                                        <div class="support_inner">

                                            <div class="support_icon">
                                                <i class="fa fa-plane" style="color:#000;"></i>
                                            </div>

                                            <div class="support_text">

                                                <h2 style="color:#000;">Free <br>Delivery</h2>

                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="grid__item wide--one-quarter post-large--one-quarter large--one-quarter medium--one-half small-grid__item wow fadeInUp" data-wow-delay="ms">
                                    <div class="support_section">
                                        <div class="support_inner">

                                            <div class="support_icon">
                                                <i class="fa fa-headphones" style="color:#000;"></i>
                                            </div>

                                            <div class="support_text">

                                                <h2 style="color:#000;">Clients <br> Discounts</h2>

                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="grid__item wide--one-quarter post-large--one-quarter large--one-quarter medium--one-half small-grid__item wow fadeInUp" data-wow-delay="ms">
                                    <div class="support_section">
                                        <div class="support_inner">

                                            <div class="support_icon">
                                                <i class="fa fa-exchange" style="color:#000;"></i>
                                            </div>

                                            <div class="support_text">

                                                <h2 style="color:#000;">Return <br>of goods</h2>

                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="grid__item wide--one-quarter post-large--one-quarter large--one-quarter medium--one-half small-grid__item wow fadeInUp" data-wow-delay="ms">
                                    <div class="support_section">
                                        <div class="support_inner">

                                            <div class="support_icon">
                                                <i class="fa fa-gg" style="color:#000;"></i>
                                            </div>

                                            <div class="support_text">

                                                <h2 style="color:#000;">Many <br> Brands</h2>

                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>

                        </div>
                    </div>

                </div>
        </main>

        <%- include layouts/footer.ejs %>